:root {
    --imgWidth: 65px;
    --imgHeight: 80px;
}

* {
    font-family: cursive, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(232, 17, 17, 0.5), #9198e5);
}

.wrapper {
    box-shadow: 5px 5px 15px 10px #CC8FAE;
    border-radius: 1rem;
}

#submit {
    margin-left: 80px;
}


@keyframes logoAnimation {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate3d(0.3, 0.5, 0, 180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#loader {
    z-index: 100;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(232, 17, 17, 1), #9198e5);
    transition: opacity 1s;
}

.logo {
    width: var(--imgWidth);
    height: var(--imgHeight);
    animation: logoAnimation 2s linear infinite;
}